################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AoC2024/copilot-chat/7dbdcdc4/sessions
/.vs/AoC2024/DesignTimeBuild
/.vs/AoC2024/FileContentIndex
/.vs/AoC2024/v17
/.vs
/AoC2024/bin/Debug/net8.0
/AoC2024/obj
/AoC2024/AoC2024/Day10.txt
/AoC2024/AoC2024/Day12.txt
/AoC2024/AoC2024/Day13.txt
/AoC2024/AoC2024/Day16.txt
/AoC2024/AoC2024/Day17.txt
/AoC2024/AoC2024/Day18.txt
/AoC2024/AoC2024/Day19.txt
/AoC2024/AoC2024/Day2.cs
/AoC2024/AoC2024/Day2.txt
/AoC2024/AoC2024/Day3.txt
/AoC2024/AoC2024/Day4.txt
/AoC2024/AoC2024/Day5.txt
/AoC2024/AoC2024/Day6.txt
/AoC2024/AoC2024/Day7.txt
/AoC2024/AoC2024/Day8.txt
/AoC2024/AoC2024/Day9.txt
/AoC2024/AoC2024/HelperAoC.cs
/AoC2024/AoC2024/testDataDay10.txt
/AoC2024/AoC2024/testDataDay12.txt
/AoC2024/AoC2024/testDataDay13.txt
/AoC2024/AoC2024/testDataDay16.txt
/AoC2024/AoC2024/testDataDay17.txt
/AoC2024/AoC2024/testDataDay19.txt
/AoC2024/AoC2024/testDataDay2.txt
/AoC2024/AoC2024/testDataDay3.txt
/AoC2024/AoC2024/testDataDay4.txt
/AoC2024/AoC2024/testDataDay5.txt
/AoC2024/AoC2024/testDataDay6.txt
/AoC2024/AoC2024/testDataDay7.txt
/AoC2024/AoC2024/testDataDay8.txt
/AoC2024/AoC2024/testDataDay9.txt
/AoC2024/Day8.cs
/AoC2024/Day10.cs
/AoC2024/Day14.cs
